body {
    margin: 0 !important;
    padding: 0 !important;
}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 153, 0), rgb(255, 85, 0));
    background-attachment: fixed;
}

.login-panel {
    background-color: #F7F7F7;
    max-width: 350px;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.login-panel h1 {
    text-align: center;
}

.login-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 25px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.signin-form input,
.signin-form input {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.signin-form input[type=email],
.signin-form input[type=password],
.signin-form input[type=text],
.signin-form button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.signin-form .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    margin-top: 25px;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(131, 178, 195);
}

header {
    text-align: center;
}

.modal-header h3 {
    text-align: center;
}

.modal-body h4 {
    margin-left: 15px;
}

.data-entry {
    width: 100%;
}

.data-entry .btn {
    height: 75px;
    width: 80px;
    margin: 25px 15px 25px 15px;
}

.data-entry .btn span.btn-header {
    font-size: 30px;
    display: block;
}

.data-entry .btn span.btn-header {
    display: block;
}

.rz-pointer.rz-pointer-min {
    background: none;
    background-image: url("../img/tomato-timer.png");
    background-size: 100%;
    height: 50px;
    width: 50px;
    top: -20px;
    outline: none;
}

.rz-pointer.rz-pointer-min:after {
    display: none;
}

.rzslider .rz-bar {
    height: 10px;
    width: 90%;
    margin-left: 20px;
}

.rz-bubble.rz-limit {
    display: none;
}

.rz-bubble:not(.rz-limit) {
    display: none;
}

.content {
    padding: 15px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.highcharts-credits {
    display: none;
}

chart .highcharts-container {
    margin: auto;
}

.chart-selection {
    text-align: center;
    padding: 10px;
}

