<div class="modal-header">
    <h3 class="modal-title" ng-bind="vm.activity.name"></h3>
</div>

<div class="modal-body">

    <h4>Time: {{vm.activity.duration | formatMinutes}}</h4>

    <div class="data-entry">

        <div class="row">
            <div class="radio-btn-group">

                <div class="row">

                    <div class="col-xs-offset-3 col-xs-3">
                        <label uib-btn-radio="30" class="btn btn-primary btn-time" ng-model="vm.activity.duration"
                               ng-click="vm.updateTime()">
                            <span class="btn-header">
                                30
                            </span>
                            <span class="btn-footer">
                                minutes
                            </span>
                        </label>
                    </div>

                    <div class="col-xs-4">
                        <label uib-btn-radio="60" class="btn btn-primary btn-time" ng-model="vm.activity.duration"
                               ng-click="vm.updateTime()">
                            <span class="btn-header">
                                1
                            </span>
                            <span class="btn-footer">
                                hour
                            </span>
                        </label>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-offset-3 col-xs-3">
                        <label uib-btn-radio="180" class="btn btn-primary btn-time" ng-model="vm.activity.duration"
                               ng-click="vm.updateTime()">
                            <span class="btn-header">
                                3
                            </span>
                            <span class="btn-footer">
                                hours
                            </span>
                        </label>
                    </div>

                    <div class="col-xs-4">
                        <label uib-btn-radio="360" class="btn btn-primary btn-time" ng-model="vm.activity.duration"
                               ng-click="vm.updateTime()">
                            <span class="btn-header">
                                6
                            </span>
                            <span class="btn-footer">
                                hours
                            </span>
                        </label>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <rzslider rz-slider-model="vm.activity.duration" rz-slider-options="vm.slider.options"></rzslider>
            </div>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.updateTime()">OK</button>
</div>